
<ion-header>
  <div name="botPic">
    <img class=profilePhoto src="assets/imgs/happyLudobot.png" />
  </div>
  <div class="description">
    <img class=logoPhoto src="assets/imgs/LudobotLogoNoBg.png"/>
  </div>
  <button id="buttonInfo" large ion-button icon-only item-right (click)="showInfo()">
    <ion-icon name="information-circle"></ion-icon>
  </button>
</ion-header>


<ion-content padding>
  <div class="sentMessagesContainer">
    <message-wrapper *ngFor="let msg of sentMessages" id="messages" [message]="msg">
    </message-wrapper>
  </div> 
</ion-content>

  <ion-footer class="currentMessageContainer" position="bottom">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
            <ion-textarea id="messageInput" placeholder="How can i help?" float [(ngModel)]="currentMessage"></ion-textarea>
        </ion-col>
        <ion-col col-2>
            <ion-spinner *ngIf="processing" name="bubbles"></ion-spinner>
            <button id="buttonSend" ion-button icon-only item-right (click)="sendMessage()" *ngIf=" !processing && textAreaHasText()">
              <ion-icon name="send"></ion-icon>
            </button>
            <speech-button icon-only *ngIf="!processing && !textAreaHasText()" (textOutputEvent)="updateCurrentMessage($event)" ></speech-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
