page-chat {

    $headerColour: rgb(202, 217, 219);

    ion-header{
        height:85px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $headerColour;
        .profilePhoto{
            margin-left:15px;
            margin-right: 15px;
            width: 60px;
            height: 60px;
            border-radius: 45px;
            background-color:white;
        }
        .logoPhoto{
            width: 180px;
            height: 50px;
        }
        button{
            background-color: $headerColour !important;
            margin-right: 20px !important;
            box-shadow: none !important;
            border:none;

            ion-icon{
                color:black;
            }
            ion-icon:before{
                font-size:38px;
            }
        }
    }


     ion-footer button{
        padding:20%;
        height:100%;
        width:100%;
        background-color:#F2F7F9 !important;
        box-shadow: none !important;
    }

    ion-footer{
        border-top: 1px;
        background-color: #F2F7F9;
    }

    ion-footer button:enabled ion-icon{
        color:#488aff;
    }

    .sentMessagesContainer{
        padding: 0 10px;
    }
    ion-spinner{
        height: 100%;
    }
    

}
