no-connection-modal {


    ion-icon {
        font-size: 60px; //Preferred size here
        color:red;
        padding-top:20px;
    }

    h1{
        font-size: 14px;
        margin: 5px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color:red;
    }

    h2{
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color:grey;
        padding: 0 20px 20px 20px;
    }

    .countdown p{
        display:inline-block; 
    }
    .ion-spinner{
        margin: auto;
    }



}
