speech-modal {


    ion-content {
        background-color: rgba(0, 0, 0, 0.4);
    }

    ion-icon {
        font-size: 60px; //Preferred size here
        color:grey;
        padding-top:20px;
    }

    h1{
        padding-top:25px;
        font-size: 24px;
        margin: 5px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color:rgb(32, 213, 230);
    }

    h2{
        padding-top:35px !important;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color:grey;
        padding: 0 20px 20px 20px;
    }



}
